---
layout: project
title: Alvarez Kings
permalink: /alvarez-kings/
exclude: true
---

<!--hero image-->
<div class="mt-4 mb-4 px-2">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-logo-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-logo-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-logo-design-1620px.jpg" alt="Alvarez Kings Logo Design" %}
</div>
<!--project description-->
<div class="mb-4 md-width-full col-6 px-2 clearfix">
  <h1 class="mt-0 mb-2 mb-lg-3 f2 f1-md lh-condensed">Alvarez Kings</h1>
  <p class="f6 f5-md mb-2 mb-lg-3">Brand design and cover artwork for Alvarez Kings, a four-piece indie/pop band from Sheffield, UK.</p>
  <p class="f6 f5-md mb-2 mb-lg-3">Here’s a collection of cover designs for the band’s singles and EPs since 2012. Alvarez Kings released their debut album in 2017 with Warner Bros Records.</p>

  <!--Project tags-->
  <span class="tags py-1 px-1 f7">Branding, Graphic Design, Photography</span>
</div>

<!--Project Images-->
<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-the-otherside-of-sadness-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-the-otherside-of-sadness-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-the-otherside-of-sadness-cover-design-1620px.jpg" alt="Alvarez Kings - The Otherside of Sadness" %}
</div>

<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-sleepwalking-part-1-acoustic-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-sleepwalking-part-1-acoustic-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-sleepwalking-part-1-acoustic-cover-design-1620px.jpg" alt="Alvarez Kings - Sleepwalking Part 1 (Acoustic)" %}
</div>

<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-cold-conscience-2017-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-cold-conscience-2017-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-cold-conscience-2017-cover-design-1620px.jpg" alt="Alvarez Kings - Cold Conscience" %}
</div>

<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-in-the-bleak-midwinter-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-in-the-bleak-midwinter-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-in-the-bleak-midwinter-cover-design-1620px.jpg" alt="Alvarez Kings - In the Bleak Midwinter" %}
</div>

<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-fear-to-feel-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-fear-to-feel-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-fear-to-feel-cover-design-1620px.jpg" alt="Alvarez Kings - Fear to Feel" %}
</div>

<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-no-resolve-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-no-resolve-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-no-resolve-cover-design-1620px.jpg" alt="Alvarez Kings - No Resolve" %}
</div>

<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-postcards-from-berlin-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-postcards-from-berlin-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-postcards-from-berlin-cover-design-1620px.jpg" alt="Alvarez Kings - Postcards from Berlin" %}
</div>

<div class="px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-cold-conscience-cover-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-cold-conscience-cover-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-cold-conscience-cover-design-1620px.jpg" alt="Alvarez Kings - Cold Conscience" %}
</div>

<!--2 column container-->
<div class="col-6 md-width-full left px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-stacked-typographic-logo-t-shirt-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-stacked-typographic-logo-t-shirt-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-stacked-typographic-logo-t-shirt-1620px.jpg" alt="Alvarez Kings — Stacked typographic logo t-shirt design" %}
</div>

<div class="col-6 md-width-full left px-2 mb-2 mb-lg-3">
  {% include project-header-img.html img540="/projects/alvarez-kings/alvarez-kings-fear-to-feel-t-shirt-design-540px.jpg" img1080="/projects/alvarez-kings/alvarez-kings-fear-to-feel-t-shirt-design-1080px.jpg" img1620="/projects/alvarez-kings/alvarez-kings-fear-to-feel-t-shirt-design-1620px.jpg" alt="Alvarez Kings — Fear to Feel t-shirt design" %}
</div>
