<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container clearfix mx-auto px-2 py-2">
    <ul class="list-reset left clearfix sm-width-full mb-2 mb-md-0">
      <li class="inline-block mr-2">
        <a href="https://twitter.com/davemullenjnr">Twitter</a>
      </li>
      <li class="inline-block">
        <a href="https://instagram.com/davemullenjnr">Instagram</a>
      </li>
    </ul>
    <span class="sm-width-full right">
      &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </span>
  </div>
</div>
