<div class="clearfix mt-2 mt-lg-4">
  <div class="clearfix mx-auto px-2 py-2">
    <ul class="list-reset left clearfix">
      <li class="inline-block mr-2">
        <a class="link-primary" href="https://twitter.com/davemullenjnr">Twitter</a>
      </li>
      <li class="inline-block">
        <a class="link-primary" href="https://instagram.com/davemullenjnr">Instagram</a>
      </li>
    </ul>
    <span class="right">
      &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </span>
  </div>
</div>
