<div class="clearfix mx-auto px-2 py-2">
  <ul class="list-reset left clearfix lh-1">
    <li class="inline-block mr-2">
      <a class="link-primary" rel="nofollow" href="https://dribbble.com/{{ site.social_username }}">Dribbble</a>
    </li>
    <li class="inline-block">
      <a class="link-primary" rel="nofollow" href="https://instagram.com/{{ site.social_username }}">Instagram</a>
    </li>
  </ul>
  <span class="right lh-1">
    &copy; <script>document.write(new Date().getFullYear());</script>
  </span>
</div>
