<header class="px-2 py-2 clearfix">
{% unless page.homepage == true %}
  <div class="left">
    <a class="f6 f4-lg align-middle link-primary lh-1" href="/">
      {{ site.title }}
    </a>
  </div>
{% endunless %}
  <div class="right">
    <ul class="list-reset">
      <li class="inline-block">
        <a class="f6 f4-lg align-middle link-primary lh-1{% if page.category == 'work' %} active{% endif %}" href="/work/">Work</a>
        <a class="f6 f4-lg align-middle link-primary lh-1 ml-2 ml-lg-3{% if page.category == 'blog' %} active{% endif %}" href="/blog/">Blog</a>
        <a class="f6 f4-lg align-middle link-primary lh-1 ml-2 ml-lg-3{% if page.category == 'profile' %} active{% endif %}" href="/profile/">Profile</a>
      </li>
    </ul>
  </div>
</header>