<section class="{% if page.header_background == true %}header-background {% endif %}">
<header class="px-2 py-2 clearfix">
{% unless page.homepage == true %}
  <div class="left">
    <a class="f6 f4-lg align-middle link-primary" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>
{% endunless %}
  <div class="right">
    <ul class="list-reset">
      <li class="inline-block">
        <a class="f6 f4-lg align-middle link-primary" href="{{ site.baseurl }}/work">Work</a>
        <a class="f6 f4-lg align-middle link-primary ml-2 ml-lg-3" href="{{ site.baseurl }}/blog">Blog</a>
        <a class="f6 f4-lg align-middle link-primary ml-2 ml-lg-3" href="{{ site.baseurl }}/profile">Profile</a>
      </li>
    </ul>
  </div>
</header>
</section>
