<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2">
  <a class="header-background block mb-2 link-image" href="{{ post.url | prepend: site.baseurl }}">
    {% if post.hero_image %}
      {% include post-hero-image.html %}
    {% endif %}
  </a>
  <p class="f6 text-accent right sm-width-full">{{ post.date | date: "%b %-d, %Y" }}</p>
  <h2 class="f2 lh-condensed col-9 mt-0">
    <a class="link" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <p class="f6 col-9 sm-width-full">{{ post.content | strip_html | truncatewords:30 }}</p>
</div>
