<div class="col-6 sm-width-full left px-2 mb-4 project-card">
  <a class="header-background block mb-2" href="{{ include.url }}">
    <img srcset="/assets/img/{{ include.img540 }} 540w,
                 /assets/img/{{ include.img1080 }} 1080w,
                 /assets/img/{{ include.img1620 }} 1620w,"
         sizes="(max-width: 560px) 100vw, 50vw"
         src="/assets/img/{{ include.img540 }}" alt="{{ include.alt }}" class="border-radius"/>
  </a>
  <a class="f5 f4-lg link-primary" href="{{ include.url }}">{{ include.title }}</a>
</div>
