// Badge — (The WIP badge originally on homepage)
.badge {
  transform: rotate(-10deg);
  opacity: 0.95;
  background-color: $brand;      
  color: $white;
  border-radius: 50%;
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: -$spacer-1;
  margin-top: -$spacer-1;
  font-size: 0.6rem;
  box-shadow: 4px 4px 8px 0px rgba($color: #000000, $alpha: 0.1);

  @media (min-width: $breakpoint-md) {
   min-width: 4rem;
   min-height: 4rem;
  }

  @media (min-width: $breakpoint-lg) {
   min-width: 5rem;
   min-height: 5rem;
  }
}

.sheffield {
  min-width: 150px;
  cursor: default;
  display: inline-block;
}

// Video
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Image on profile page
.profile-image {
  border-radius: 50%;
  max-width: 200px;
  background-color: $grey-dark;
  
  img {
    border-radius: 50%;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 240px;
   }
}

//project tags component
.tags {
    background-color: $grey-light;
    border-radius: $spacer / 4;
    color: $grey-dark;
}

// Prose — Styles for the content.
.prose {

  p {
    font-size: $body-font-size;
    margin-bottom: $spacer-2;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      font-size: ($body-font-size * 1.25);
      margin-bottom: $spacer-3;
      width: (9 / 12 * 100%); // matches col-8
    }

  }

  hr {
    color: $color-body-text;
    border-style: solid;
    border-width: thin;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}

// Link styles

// Link
.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Links within paragraph text
.link-body {
  border-bottom: 2px solid;
  border-color: $grey-mid;
  padding-bottom: $spacer / 2;
  transition: ease-in-out .1s;

  &:hover {
    border-color: $brand;
  }
}

// Links on my profile page
.link-profile {
  text-decoration: underline;
  text-decoration-color: $grey-dark;

  &:hover {
    color: $grey-dark;
  }
}

// Links within caption text
.link-caption {
  border-bottom: 1px solid;
  border-color: inherit;
  padding-bottom: $spacer / 2;
  transition: ease-in-out .1s;

  &:hover {
    color: $black;
    border-color: $black;
  }
}

// Link styles for navigation
.link-primary {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: ease-in-out .15s;

  &:hover, &:active {
    text-decoration: none;
    border-bottom-color: $brand;
  }
}

.active {
  text-decoration: none;
  border-bottom-color: $brand;
}

// Image as a link
.link-image {
  position: relative;
  overflow: hidden;
  
  img {
    transition: all 0.2s ease-out;
  }
  img:hover {
    opacity: 0.9;
    transform: scale(1.03);
  }
}

// Dark mode overrides
.dark-mode {
  background-color: $black;
  color: $white;
}

.blog-image {
  max-width: 1620px;
  height: auto;
}