// White theme

// Color variables
$black: #181818;
$brand: #4499ff;
$gray-light: #f5f5f5;
$white: #fff;

// Config
$color-background: $gray-light !default;
$color-dot-accent: $brand !default;
$color-foreground: $black !default;
$color-title: $black !default;
$color-body-text: $black !default;
$color-text-accent: $brand !default;
$color-code: $brand !default;
$color-nav-link: $brand !default;
$color-primary-link: $brand !default;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
