/* Type utilities */

// Headlines
.f-head { font-size: $f-head; letter-spacing: $display-spacing; }
.f-subh { font-size: $f-subh; letter-spacing: $display-spacing; }

.f-head, .f-subh, .f-head-md, .f-subh-md, .f-head-lg, .f-subh-lg {
  line-height: 1.2;
  word-wrap: break-word;
  margin-left: -0.05em;
}

// Typescale

// Base
.f1 { font-size: $f1-size; letter-spacing: $display-spacing; }
.f2 { font-size: $f2-size; letter-spacing: $display-spacing; }
.f3 { font-size: $f3-size; }
.f4 { font-size: $f4-size; }
.f5 { font-size: $f5-size; }
.f6 { font-size: $f6-size; }
.f7 { font-size: $f7-size; }


@media (min-width: $breakpoint-md) {
  .f-head-md { font-size: $f-head; letter-spacing: $display-spacing; }
  .f-subh-md { font-size: $f-subh; letter-spacing: $display-spacing; }
  .f1-md { font-size: $f1-size; letter-spacing: $display-spacing; }
  .f2-md { font-size: $f2-size; letter-spacing: $display-spacing; }
  .f3-md { font-size: $f3-size; }
  .f4-md { font-size: $f4-size; }
  .f5-md { font-size: $f5-size; }
  .f6-md { font-size: $f6-size; }
  .f7-md { font-size: $f7-size; }
}

@media (min-width: $breakpoint-lg) {
  .f-head-lg { font-size: $f-head; letter-spacing: $display-spacing; }
  .f-subh-lg { font-size: $f-subh; letter-spacing: $display-spacing; }
  .f1-lg { font-size: $f1-size; letter-spacing: $display-spacing; }
  .f2-lg { font-size: $f2-size; letter-spacing: $display-spacing; }
  .f3-lg { font-size: $f3-size; }
  .f4-lg { font-size: $f4-size; }
  .f5-lg { font-size: $f5-size; }
  .f6-lg { font-size: $f6-size; }
  .f7-lg { font-size: $f7-size; }
}

// text-align
.text-right { text-align: right; }
.text-center { text-align: center; }


.norm { font-weight: normal; }
.bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }
.lh-condensed { line-height: 1.2; }
.ls-wide { letter-spacing: 0.1em; }

.list-reset {
  list-style: none;
  padding-left: 0;
}

.underline { 
  text-decoration: underline; 
  
  &:hover {
    text-decoration-color: $brand;
  }
}

.no-underline {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

/* Color */
.grey-light { color: $grey-light; }
.grey-mid { color: $grey-mid; }
.grey-dark { color: $grey-dark; }


/* Border utilities */
.border-bottom-thick { border-bottom: 2px solid; border-color: currentColor; }
.border-bottom-thin { border-bottom: 1px solid; border-color: currentColor; }
.border-top-thick { border-top: 2px solid; border-color: currentColor; }
.border-top-thin { border-top: 1px solid; border-color: currentColor; }
.border-0 { border: 0; }
.border-radius { border-radius: $spacer / 4; }


/* Theme color utilities */
.header-background { background-color: $color-background; }
.header-border { border-color: $color-foreground; }
.header-title { color: $color-title; }
.header-text { color: $color-foreground; }
.header-social { fill: $color-foreground; }
.header-social-accent { fill: $color-dot-accent; }
.header-link:hover { color: $color-nav-link !important; } // used for navigation links on homepage
.text-accent { color: $color-text-accent; } // used for date in post list and home link

/* Layout utilities */
.container { max-width: $container-width-xl; 
  
  @media (max-width: 96em) {
    max-width: $container-width;
  }
}

.container-thin { max-width: $container-width-s; }

.col-1 { width: (1 / 12 * 100%); }
.col-2 { width: (2 / 12 * 100%); }
.col-3 { width: (3 / 12 * 100%); }
.col-4 { width: (4 / 12 * 100%); }
.col-5 { width: (5 / 12 * 100%); }
.col-6 { width: (6 / 12 * 100%); }
.col-7 { width: (7 / 12 * 100%); }
.col-8 { width: (8 / 12 * 100%); }
.col-9 { width: (9 / 12 * 100%); }
.col-10 { width: (10 / 12 * 100%); }
.col-11 { width: (11 / 12 * 100%); }
.col-12 { width: 100%; }


@media (max-width: $breakpoint-md) {
  .sm-width-full { width: 100% !important; }
}

@media (max-width: $breakpoint-lg) {
  .md-width-full { width: 100% !important; }
}

.block        { display: block !important; }
.inline-block { display: inline-block !important; }

.table { display: table !important; }

.left { float: left; }
.right { float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.align-middle { vertical-align: middle; }

/* Padding */
.px-0 { padding-left: 0; padding-right:  0 }
.py-0 { padding-top: 0;  padding-bottom: 0 }

.px-1 { padding-left: $spacer-1; padding-right:  $spacer-1 }
.py-1 { padding-top: $spacer-1;  padding-bottom: $spacer-1 }

.px-2 { padding-left: $spacer-2; padding-right:  $spacer-2; }
.py-2 { padding-top: $spacer-2;  padding-bottom: $spacer-2; }

.px-3 { padding-left: $spacer-3; padding-right:  $spacer-3; }
.py-3 { padding-top: $spacer-3;  padding-bottom: $spacer-3; }

.px-4 { padding-left: $spacer-4; padding-right:  $spacer-4; }
.py-4 { padding-top: $spacer-4;  padding-bottom: $spacer-4; }


// Responsive padding
@media (min-width: $breakpoint-md) {

  .px-md-0 { padding-left: 0; padding-right:  0 }
  .py-md-0 { padding-top: 0;  padding-bottom: 0 }
  
  .px-md-1 { padding-left: $spacer-1; padding-right:  $spacer-1 }
  .py-md-1 { padding-top: $spacer-1;  padding-bottom: $spacer-1 }
  
  .px-md-2 { padding-left: $spacer-2; padding-right:  $spacer-2; }
  .py-md-2 { padding-top: $spacer-2;  padding-bottom: $spacer-2; }
  
  .px-md-3 { padding-left: $spacer-3; padding-right:  $spacer-3; }
  .py-md-3 { padding-top: $spacer-3;  padding-bottom: $spacer-3; }
  
  .px-md-4 { padding-left: $spacer-4; padding-right:  $spacer-4; }
  .py-md-4 { padding-top: $spacer-4;  padding-bottom: $spacer-4; }
}

@media (min-width: $breakpoint-lg) {

  .px-lg-0 { padding-left: 0; padding-right:  0 }
  .py-lg-0 { padding-top: 0;  padding-bottom: 0 }
  
  .px-lg-1 { padding-left: $spacer-1; padding-right:  $spacer-1 }
  .py-lg-1 { padding-top: $spacer-1;  padding-bottom: $spacer-1 }
  
  .px-lg-2 { padding-left: $spacer-2; padding-right:  $spacer-2; }
  .py-lg-2 { padding-top: $spacer-2;  padding-bottom: $spacer-2; }
  
  .px-lg-3 { padding-left: $spacer-3; padding-right:  $spacer-3; }
  .py-lgd-3 { padding-top: $spacer-3;  padding-bottom: $spacer-3; }
  
  .px-lg-4 { padding-left: $spacer-4; padding-right:  $spacer-4; }
  .py-lg-4 { padding-top: $spacer-4;  padding-bottom: $spacer-4; }
}


/* Margin */
.my-auto { margin-top: auto; margin-bottom: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }

.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }

.mt-1 { margin-top: $spacer-1; }
.mr-1 { margin-right: $spacer-1; }
.mb-1 { margin-bottom: $spacer-1; }
.ml-1 { margin-left: $spacer-1; }

.mt-2 { margin-top: $spacer-2; }
.mr-2 { margin-right: $spacer-2; }
.mb-2 { margin-bottom: $spacer-2; }
.ml-2 { margin-left: $spacer-2; }

.mt-3 { margin-top: $spacer-3; }
.mr-3 { margin-right: $spacer-3; }
.mb-3 { margin-bottom: $spacer-3; }
.ml-3 { margin-left: $spacer-3; }

.mt-4 { margin-top: $spacer-4; }
.mr-4 { margin-right: $spacer-4; }
.mb-4 { margin-bottom: $spacer-4; }
.ml-4 { margin-left: $spacer-4; }

// Responsive margin
@media (min-width: $breakpoint-md) {
  .my-md-auto { margin-top: auto; margin-bottom: auto; }
  .mx-md-auto { margin-left: auto; margin-right: auto; }

  .mt-md-0 { margin-top: 0; }
  .mr-md-0 { margin-right: 0; }
  .mb-md-0 { margin-bottom: 0; }
  .ml-md-0 { margin-left: 0; }

  .mt-md-1 { margin-top: $spacer-1; }
  .mr-md-1 { margin-right: $spacer-1; }
  .mb-md-1 { margin-bottom: $spacer-1; }
  .ml-md-1 { margin-left: $spacer-1; }

  .mt-md-2 { margin-top: $spacer-2; }
  .mr-md-2 { margin-right: $spacer-2; }
  .mb-md-2 { margin-bottom: $spacer-2; }
  .ml-md-2 { margin-left: $spacer-2; }

  .mt-md-3 { margin-top: $spacer-3; }
  .mr-md-3 { margin-right: $spacer-3; }
  .mb-md-3 { margin-bottom: $spacer-3; }
  .ml-md-3 { margin-left: $spacer-3; }

  .mt-md-4 { margin-top: $spacer-4; }
  .mr-md-4 { margin-right: $spacer-4; }
  .mb-md-4 { margin-bottom: $spacer-4; }
  .ml-md-4 { margin-left: $spacer-4; }
}

@media (min-width: $breakpoint-lg) {
  .my-lg-auto { margin-top: auto; margin-bottom: auto; }
  .mx-lg-auto { margin-left: auto; margin-right: auto; }

  .mt-lg-0 { margin-top: 0; }
  .mr-lg-0 { margin-right: 0; }
  .mb-lg-0 { margin-bottom: 0; }
  .ml-lg-0 { margin-left: 0; }

  .mt-lg-1 { margin-top: $spacer-1; }
  .mr-lg-1 { margin-right: $spacer-1; }
  .mb-lg-1 { margin-bottom: $spacer-1; }
  .ml-lg-1 { margin-left: $spacer-1; }

  .mt-lg-2 { margin-top: $spacer-2; }
  .mr-lg-2 { margin-right: $spacer-2; }
  .mb-lg-2 { margin-bottom: $spacer-2; }
  .ml-lg-2 { margin-left: $spacer-2; }

  .mt-lg-3 { margin-top: $spacer-3; }
  .mr-lg-3 { margin-right: $spacer-3; }
  .mb-lg-3 { margin-bottom: $spacer-3; }
  .ml-lg-3 { margin-left: $spacer-3; }

  .mt-lg-4 { margin-top: $spacer-4; }
  .mr-lg-4 { margin-right: $spacer-4; }
  .mb-lg-4 { margin-bottom: $spacer-4; }
  .ml-lg-4 { margin-left: $spacer-4; }
}

// Viewport Height
.vh-100 {height: 100vh; min-height: 400px;}
.vh-90 {height: 90vh; min-height: 400px;}
.vh-80 {height: 80vh; min-height: 400px;}
.vh-70 {height: 70vh; min-height: 400px;}
.vh-60 {height: 60vh; min-height: 400px;}
.vh-50 {height: 50vh; min-height: 400px;}
.vh-40 {height: 40vh; min-height: 400px;}
.vh-30 {height: 30vh; min-height: 400px;}
.vh-20 {height: 20vh; min-height: 400px;}
.vh-10 {height: 10vh; min-height: 400px;}


//Positioning
.fixed {position: fixed;}
.top-0 {top: 0;}
.bottom-0 {bottom: 0;}
.right-0 {right: 0;}
.left-0 {left: 0;}

.z-1 { z-index: -1 }
.z0 { z-index: 0 }
.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }

