---
layout: post
title: Los Angeles to Vancouver
date: 2016-06-23 09:09:00 +0000
permalink: /blog/los-angeles-to-vancouver/
category: blog
hero_image: west-coast/blog-west-coast-LA-to-Vancouver-1620px
redirect_from: /blog/la-to-vancouver/
---

<div class="video-wrapper mb-3 mb-md-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_BuQetPVVrU?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="mb-3 mb-md-4">
  <p>Back in September 2015, <a class="link-body" href="https://instagram.com/mismaria">Maria</a> and I travelled to Los Angeles and steadily made our way up the pacific coast eventually crossing the boarder into Canada, finishing up in Vancouver, BC.</p>
  <p>Above is a short video I made of our trip as a memento for us and to share with our family and friends. And below is a selection of photographs I took along the way.</p>
</div>

{% include post-image.html image="west-coast/Los-Angeles-to-Vancouver-Map.jpg"
image_alt="Los Angeles to Vancouver route map for car and train" caption="Our route, starting in Los Angeles and ending in Vancouver." %}

{% include post-image.html image="west-coast/West-Coast-Hand-Lettering.jpg"
image_alt="hand-drawn brush lettering of Los Angeles, Oakland, San Francisco, Yosemite, Portland, and Vancouver" caption="Hand drawn lettering for use in the video." %}

{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-1.jpg"
image_alt="hazy hills of Los Angeles from the sky" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-2.jpg"
image_alt="A row of Vons shopping carts against a brick wall" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-3.jpg"
image_alt="A side on view of a rusty truck sheltered by trees" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-4.jpg"
image_alt="A blonde woman with pig tails looking down bubble gum alley in San Luis Obispo, California" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-5.jpg"
image_alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-6.jpg"
image_alt="A blonde girl smiling with pigtails holding two cute grey kittens" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-7.jpg"
image_alt="Girl in white dress holding Tens sunglasses at the beach" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-8.jpg"
image_alt="A photograph looking down the road of route one in California" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-9.jpg"
image_alt="A misty beach, hills, and sea scene along California's Cabrillo Highway" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-10.jpg"
image_alt="Girl at the end of a tunnel along Cabrillo Highway in California" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-11.jpg"
image_alt="Girl stood in front of a street art mural in Oakland, California" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-12.jpg"
image_alt="Sunset through the side of the Golden Gate Bridge in San Francisco" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-13.jpg"
image_alt="Diner chairs and table at Sugar Pine Cafe in Mariposa, California" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-14.jpg"
image_alt="Driving across a bridge towards Yosemite" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-15.jpg"
image_alt="Tunnel view in Yosemite National Park with Half Dome in the background" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-16.jpg"
image_alt="A dry Yosemite Falls between two large trees from the valley floor" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-17.jpg"
image_alt="Girl checking the map in Yosemite valley" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-18.jpg"
image_alt="A road in Yosemite valley looking up towards Half Dome" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-19.jpg"
image_alt="Holding a leaf up to the sun" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-20.jpg"
image_alt="Looking up into the trees from Yosemite valley floor" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-21.jpg"
image_alt="A late afternoon vista from near Taft Point overlooking El Capitan" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-22.jpg"
image_alt="A long exposure of the moon rising behind Half Dome at night. Photographed from Glacier Point in Yosemite National Park" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-23.jpg"
image_alt="Maria Nightingale in Portland" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-24.jpg"
image_alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-25.jpg"
image_alt="Sunlight hitting an open magazine through a shop window in Portland, Oregon." %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-26.jpg"
image_alt="A tire swing hanging from a tree in a stereotypical American neighbourhood" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-27.jpg"
image_alt="Blonde girl stood in front of a pickup truck on a street in Portland, Oregon." %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-28.jpg"
image_alt="Blonde girl stood in front of a pickup truck on a street in Portland, Oregon." %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-29.jpg"
image_alt="Blonde girl stood in front of a street art mural of arrows in Portland, Oregon." %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-30.jpg"
image_alt="Young boy sat atop of Grouse mountain on the Grouse Grind trail in Vancouver, BC." %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-31.jpg"
image_alt="Pristine fluffy white clouds with a touch of blue sky" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-32.jpg"
image_alt="Snowy Canadian mountain range captured from aeroplane" %}
