---
layout: post
title: Empty Design Museum
date: 2016-11-21 09:09:00 +0000
permalink: /blog/empty-design-museum/
hero_image: empty-design-museum/blog-empty-design-museum-1620px
redirect_from: /blog/emptydesignmuseum/
---

<div class="mb-3 mb-md-4">
  <p>The Design Museum invited me, on behalf of my architecture photography project <a class="link-body" href="https://geometryclub.org/">Geometry Club</a>, to explore and photograph their new space before it opens to the public on 24th Nov 2016.</p>
  <p>The highlight was the enormity of the hyperbolic paraboloid roof. It has been beautifully exposed so that it could enjoyed from the inside. Here’s a selection of my photographs from the #emptydesignmuseum event.</p>
</div>

{% include post-image.html image="empty-design-museum/01-The-Design-Museum-London-0716.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/02-The-Design-Museum-London-0926.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/03-The-Design-Museum-London-0758.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/04-The-Design-Museum-London-0745.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/05-The-Design-Museum-London-0858.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/06-The-Design-Museum-London-0776.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/07-The-Design-Museum-London-0775.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/08-The-Design-Museum-London-0942.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/09-The-Design-Museum-London-0916.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/10-The-Design-Museum-London-0790.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/11-The-Design-Museum-London-0735.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/12-The-Design-Museum-London-0780.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/13-The-Design-Museum-London-0805.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/14-The-Design-Museum-London-0760.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/15-The-Design-Museum-London-0887.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/16-The-Design-Museum-London-0813.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/17-The-Design-Museum-London-0766.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/18-The-Design-Museum-London-0956.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/19-The-Design-Museum-London-0936.jpg"
alt="" %}
{% include post-image.html image="empty-design-museum/20-The-Design-Museum-London-0714.jpg"
alt="" %}