---
layout: post
title: Empty Design Museum
excerpt: The Design Museum in London invited me to photograph their new space in Kensington before it officially opened to the public in 2016
date: 2016-11-21 09:09:00 +0000
permalink: /blog/empty-design-museum/
category: blog
hero_image: empty-design-museum/blog-empty-design-museum-1620px
redirect_from: /blog/emptydesignmuseum/
---

<div class="mb-3 mb-md-4">
  <p>The Design Museum invited me, on behalf of my architecture photography project <a class="link-body" href="https://geometryclub.org/">Geometry Club</a>, to explore and photograph their new space before it opens to the public on 24th Nov 2016.</p>
  <p>The highlight was the enormity of the hyperbolic paraboloid roof. It has been beautifully exposed so that it could enjoyed from the inside. Here’s a selection of my photographs from the #emptydesignmuseum event.</p>
</div>

{% include post-image.html image="empty-design-museum/01-The-Design-Museum-London-0716.jpg"
image_alt="looking up at the triangular facade of the Design Museum in Kensington" %}
{% include post-image.html image="empty-design-museum/02-The-Design-Museum-London-0926.jpg"
image_alt="a view from the first floor of the Design Museum in London" %}
{% include post-image.html image="empty-design-museum/03-The-Design-Museum-London-0758.jpg"
image_alt="a geometric perspective of the hyperbolic roof of the Design Museum in London" %}
{% include post-image.html image="empty-design-museum/04-The-Design-Museum-London-0745.jpg"
image_alt="iPhone photography of the interior of the London Design Museum" %}
{% include post-image.html image="empty-design-museum/05-The-Design-Museum-London-0858.jpg"
image_alt="one man sat in an empty theatre room inside the Design Museum" %}
{% include post-image.html image="empty-design-museum/06-The-Design-Museum-London-0776.jpg"
image_alt="designer, maker, user typography on a yellow tiled wall" %}
{% include post-image.html image="empty-design-museum/07-The-Design-Museum-London-0775.jpg"
image_alt="hyperbolic roof at The Design Museum in London" %}
{% include post-image.html image="empty-design-museum/08-The-Design-Museum-London-0942.jpg"
image_alt="colourful shapes revealed by the sliding display inside the Design Museum" %}
{% include post-image.html image="empty-design-museum/09-The-Design-Museum-London-0916.jpg"
image_alt="Common Room window graphic sign" %}
{% include post-image.html image="empty-design-museum/10-The-Design-Museum-London-0790.jpg"
image_alt="prints on the wall of the design museum" %}
{% include post-image.html image="empty-design-museum/11-The-Design-Museum-London-0735.jpg"
image_alt="hyperbolic roof structure with concrete and brick features" %}
{% include post-image.html image="empty-design-museum/12-The-Design-Museum-London-0780.jpg"
image_alt="shiny triangular yellow tiled wall" %}
{% include post-image.html image="empty-design-museum/13-The-Design-Museum-London-0805.jpg"
image_alt="do not touch icon at the museum" %}
{% include post-image.html image="empty-design-museum/14-The-Design-Museum-London-0760.jpg"
image_alt="a pile of books on a stool" %}
{% include post-image.html image="empty-design-museum/15-The-Design-Museum-London-0887.jpg"
image_alt="abstract shot inside a neon light display" %}
{% include post-image.html image="empty-design-museum/16-The-Design-Museum-London-0813.jpg"
image_alt="how can design change our world? pencil and note pad" %}
{% include post-image.html image="empty-design-museum/17-The-Design-Museum-London-0766.jpg"
image_alt="art installation inside the Design Museum" %}
{% include post-image.html image="empty-design-museum/18-The-Design-Museum-London-0956.jpg"
image_alt="sackler library and archive" %}
{% include post-image.html image="empty-design-museum/19-The-Design-Museum-London-0936.jpg"
image_alt="looking up the staircase at the design museum" %}
{% include post-image.html image="empty-design-museum/20-The-Design-Museum-London-0714.jpg"
image_alt="external shot of the hyperbolic roof design" %}