---
layout: post
title: LA to Vancouver
date: 2016-06-23 09:09:00 +0000
permalink: /blog/la-to-vancouver/
hero_image: west-coast/blog-west-coast-LA-to-Vancouver-1620px
---

<div class="video-wrapper mb-3 mb-md-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_BuQetPVVrU?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="mb-3 mb-md-4">
  <p>Back in September 2015, <a class="link-body" href="https://instagram.com/mismaria">Maria</a> and I travelled to Los Angeles and steadily made our way up the pacific coast eventually crossing the boarder into Canada, finishing up in Vancouver, BC.</p>
  <p>Above is a short video I made of our trip as a memento for us and to share with our family and friends. And below is a selection of photographs I took along the way.</p>
</div>

{% include post-image.html image="west-coast/Los-Angeles-to-Vancouver-Map.jpg"
alt="west coast by dave mullen jnr" caption="Our route, starting in Los Angeles and ending in Vancouver." %}

{% include post-image.html image="west-coast/West-Coast-Hand-Lettering.jpg"
alt="hand-drawn lettering by dave mullen jnr" caption="Hand drawn lettering for use in the video." %}

{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-1.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-2.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-3.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-4.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-5.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-6.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-7.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-8.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-9.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-10.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-11.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-12.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-13.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-14.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-15.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-16.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-17.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-18.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-19.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-20.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-21.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-22.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-23.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-24.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-25.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-26.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-27.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-28.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-29.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-30.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-31.jpg"
alt="" %}
{% include post-image.html image="west-coast/west-coast-photography-dave-mullen-jnr-32.jpg"
alt="" %}
