---
layout: post
title: Los Angeles to Vancouver
excerpt: Travel photography and video from a three-week trip up the pacific west coast, starting in Los Angeles and finishing in Vancouver
date: 2016-06-23 09:09:00 +0000
permalink: /blog/los-angeles-to-vancouver/
category: blog
hero_image: west-coast/blog-west-coast-LA-to-Vancouver-1620px
redirect_from: /blog/la-to-vancouver/
images:
  - src: west-coast-photography-dave-mullen-jnr-1.jpg
    alt: hazy hills of Los Angeles from the sky
  - src: west-coast-photography-dave-mullen-jnr-2.jpg
    alt: A row of Vons shopping carts against a brick wall
  - src: west-coast-photography-dave-mullen-jnr-3.jpg
    alt: A side on view of a rusty truck sheltered by trees
  - src: west-coast-photography-dave-mullen-jnr-4.jpg
    alt: A blonde woman with pig tails looking down bubble gum alley in San Luis Obispo, California
  - src: west-coast-photography-dave-mullen-jnr-5.jpg
    alt: 
  - src: west-coast-photography-dave-mullen-jnr-6.jpg
    alt: A blonde girl smiling with pigtails holding two cute grey kittens
  - src: west-coast-photography-dave-mullen-jnr-7.jpg
    alt: Girl in white dress holding Tens sunglasses at the beach
  - src: west-coast-photography-dave-mullen-jnr-8.jpg
    alt: A photograph looking down the road of route one in California
  - src: west-coast-photography-dave-mullen-jnr-9.jpg
    alt: A misty beach, hills, and sea scene along California's Cabrillo Highway
  - src: west-coast-photography-dave-mullen-jnr-10.jpg
    alt: Girl at the end of a tunnel along Cabrillo Highway in California
  - src: west-coast-photography-dave-mullen-jnr-11.jpg
    alt: Girl stood in front of a street art mural in Oakland, California
  - src: west-coast-photography-dave-mullen-jnr-12.jpg
    alt: Sunset through the side of the Golden Gate Bridge in San Francisco
  - src: west-coast-photography-dave-mullen-jnr-13.jpg
    alt: Diner chairs and table at Sugar Pine Cafe in Mariposa, California
  - src: west-coast-photography-dave-mullen-jnr-14.jpg
    alt: Driving across a bridge towards Yosemite
  - src: west-coast-photography-dave-mullen-jnr-15.jpg
    alt: Tunnel view in Yosemite National Park with Half Dome in the background
  - src: west-coast-photography-dave-mullen-jnr-16.jpg
    alt: A dry Yosemite Falls between two large trees from the valley floor
  - src: west-coast-photography-dave-mullen-jnr-17.jpg
    alt: Girl checking the map in Yosemite valley
  - src: west-coast-photography-dave-mullen-jnr-18.jpg
    alt: A road in Yosemite valley looking up towards Half Dome
  - src: west-coast-photography-dave-mullen-jnr-19.jpg
    alt: Holding a leaf up to the sun
  - src: west-coast-photography-dave-mullen-jnr-20.jpg
    alt: Looking up into the trees from Yosemite valley floor
  - src: west-coast-photography-dave-mullen-jnr-21.jpg
    alt: A late afternoon vista from near Taft Point overlooking El Capitan
  - src: west-coast-photography-dave-mullen-jnr-22.jpg
    alt: A long exposure of the moon rising behind Half Dome at night. Photographed from Glacier Point in Yosemite National Park
  - src: west-coast-photography-dave-mullen-jnr-23.jpg
    alt: Maria Nightingale in Portland
  - src: west-coast-photography-dave-mullen-jnr-24.jpg
    alt: 
  - src: west-coast-photography-dave-mullen-jnr-25.jpg
    alt: Sunlight hitting an open magazine through a shop window in Portland, Oregon.
  - src: west-coast-photography-dave-mullen-jnr-26.jpg
    alt: A tire swing hanging from a tree in a stereotypical American neighbourhood
  - src: west-coast-photography-dave-mullen-jnr-27.jpg
    alt: Blonde girl stood in front of a pickup truck on a street in Portland, Oregon.
  - src: west-coast-photography-dave-mullen-jnr-28.jpg
    alt: Blonde girl stood in front of a pickup truck on a street in Portland, Oregon.
  - src: west-coast-photography-dave-mullen-jnr-29.jpg
    alt: Blonde girl stood in front of a street art mural of arrows in Portland, Oregon.
  - src: west-coast-photography-dave-mullen-jnr-30.jpg
    alt: Young boy sat atop of Grouse mountain on the Grouse Grind trail in Vancouver, BC.
  - src: west-coast-photography-dave-mullen-jnr-31.jpg
    alt: Pristine fluffy white clouds with a touch of blue sky
  - src: west-coast-photography-dave-mullen-jnr-32.jpg
    alt: Snowy Canadian mountain range captured from aeroplane
---

<div class="video-wrapper mb-3 mb-md-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_BuQetPVVrU?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="mb-3 mb-md-4">
  <p>Back in September 2015, <a class="link-body" href="https://instagram.com/mismaria">Maria</a> and I travelled to Los Angeles and steadily made our way up the pacific coast eventually crossing the boarder into Canada, finishing up in Vancouver, BC.</p>
  <p>Above is a short video I made of our trip as a memento for us and to share with our family and friends. And below is a selection of photographs I took along the way.</p>
</div>

{% include post-image.html image="west-coast/Los-Angeles-to-Vancouver-Map.jpg"
image_alt="Los Angeles to Vancouver route map for car and train" caption="Our route, starting in Los Angeles and ending in Vancouver." %}

{% include post-image.html image="west-coast/West-Coast-Hand-Lettering.jpg"
image_alt="hand-drawn brush lettering of Los Angeles, Oakland, San Francisco, Yosemite, Portland, and Vancouver" caption="Hand drawn lettering for use in the video." %}

{% for image in page.images %}
  {% cloudinary old_post /assets/img/posts/west-coast/{{ image.src }} class="mb-2 blog-image border-radius" alt="{{ image.alt }}" %}
{% endfor %}