<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="header-background">
    <div class="fixed top-0 left-0 right-0">
      {% include header.html %}
    </div>

    <div class="flex vh-100">
      <div class="container px-2 my-auto mx-md-auto">
          <div class="container">
            <h3 class="f5 f4-md mt-0 mb-0 norm">Error 404 — Page Not Found</h3>
            <h1 class="f3 f1-md f-subh-lg mt-0 mb-0"><a class="underline" href="/">Move along,</a><br />nothing to see here.</h1>
          </div>
        </div>
    </div>

    <div class="fixed bottom-0 left-0 right-0">
      {% include footer.html %}
    </div>
  </body>

</html>