---
layout: default
---
<div class="mx-auto px-3 mb-5 container-thin uses">

  
  <section class="mx-auto mt-4 mb-3 mb-md-4">
    <div class="aspect-ratio ar-3x2">
      {% cloudinary /assets/img/minimal-desk-setup.jpg class="ar-object border-radius" alt="minimal desk setup for a designer featuring iMac, succulent plant, Wacom graphics tablet, and coffee cup." %}
    </div>
    <h1 class="f2 mb-0 mt-1">Now</h1>
    <p class="f5">What I'm working on at the moment.</p>
    <p class="f7 grey-dark">Last updated: <b>8th July 2024</b></p>
  </section>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Hoodiehut</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><p>As the season has just ended for <a class="link-profile bold" href="https://www.hoodiehut.co.uk/leavers-hoodies/">school leavers hoodies</a>, I'll be creating all the assets for HoodieHut in time for the 2024/2025 academic year.</p></li>
    </ul>
  </section>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Personal</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><p>Making a start on redesigning and coding this website.</p></li>
    </ul>
  </section>
</div>
