---
layout: default
---
<div class="mx-auto px-3 mb-5 container-thin uses">

  <section class="mx-auto mt-4 mb-3 mb-md-4">
    <h1 class="f2 mb-0">What I use</h1>
    <p class="f5">A list of products, tools, and niceties that I use for work. I've only included things that I would whole-heartedly recommend.</p>
    <p class="f7 grey-dark">Last updated: <b>18th Jan 2020</b></p>
  </section>

  <h2 class="f3">Hardware</h2>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Computers</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><a class="link-profile bold" href="https://www.apple.com/uk/imac/">Apple iMac 27" (2015)</a><p>A nice large screen, I primarily use this machine for design work.</p></li>
      <li><a class="link-profile bold" href="https://www.apple.com/uk/macbook-air/">Apple MacBook Air (2018)</a><p>A light and portable laptop, ideal for writing and coding.</p></li>
    </ul>
  </section>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Photography</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><a class="link-profile bold" href="https://www.canon.co.uk/for_home/product_finder/cameras/digital_slr/eos_6d/">Canon 6D</a><p>A solid and (relatively) affordable DSLR that hasn't let me down since ~2015.</p></li>
      <li><a class="link-profile bold" href="https://www.canon.co.uk/lenses/ef-24-105mm-f-4l-is-ii-usm-lens/">Canon 24-105mm f/4 L lens</a><p>A reliable and versatile lens for all occasions.</p></li>
      <li><a class="link-profile bold" href="https://www.canon.co.uk/lenses/ef-50mm-f-1-4-usm-lens/">Canon 50mm f/1.4 lens</a><p>My favourite prime lens (fixed focal length). The low f-stop makes for some gorgeous background blur. It's a great lens for video, too.</p></li>
    </ul>
  </section>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Office</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><a class="link-profile bold" href="https://www.hermanmiller.com/en_gb/products/seating/office-chairs/aeron-chairs/">Herman Miller Aeron chair</a><p>An incredibly comfortable and durable ergonomic desk chair. I'd buy it again in a heartbeat, a priceless item!</p></li>
      <li><a class="link-profile bold" href="https://ugmonk.com/products/premium-leather-mousepad-black?variant=808948249">Ugmonk Mousepad</a><p>Beautifully minimal and hardwearing mousepad. I was aprehensive about buying this ($36 in 2015) but after years of daily use, it looks better than ever.</p></p></li>
    </ul>
  </section>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Coffee</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><a class="link-profile bold" href="https://www.sageappliances.com/uk/en/products/espresso/bes875.html">Sage Espresso Machine</a><p>I love espresso-based coffee and this machine helps me make the perfect shot from home.</p></li>
      <li><a class="link-profile bold" href="https://www.origincoffee.co.uk/">Origin Coffee Roasters</a><p>A great recommendation from <a class="link-profile" href="https://www.instagram.com/the.slow.life/">@the.slow.life</a>, I've been ordering the <a class="link-profile" href="https://www.origincoffee.co.uk/collections/coffee/products/resolute?variant=12443203469385">Resolute</a> beans which are roasted twice a week and delivered next-day.</p></li>
      <li><a class="link-profile bold" href="https://huskee.co/">Huskee Reusable Coffee Cup</a><p>A cool looking reusable coffee cup made from coffee husks. Sustainable, durable, and non-toxic. I've got the 6oz version in black.</p></li>
    </ul>
  </section>

  <h2 class="f3">Software</h2>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Apps</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><a class="link-profile bold" href="https://www.sketch.com/">Sketch</a><p>Design tool for prototyping websites and user-interfaces. (Mac only)</p></li>
      <li><a class="link-profile bold" href="https://www.notion.so/">Notion</a><p>I can't recommend Notion enough. This app consolidates my day-to-day task board, simple notes, and long-form writing. It's a joy to organise and really simple to find what i'm looking for. It's Trello, Sheets, Evernote etc, all rolled into one and looks 10x better.</p></li>
      <li><a class="link-profile bold" href="">VS Code</a><p>My code editor of choice. Really happy with it. I use <a class="link-profile" href="https://dank.sh/">Dank Mono</a> as the font.</p></li>
      <li><a class="link-profile bold" href="">Image Optim</a><p>Really simple drag-and-drop image compression.</p></li>
    </ul>
  </section>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Services</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><a class="link-profile bold" href="https://1.1.1.1/">1.1.1.1</a><p>A fast, free, and private DNS for your phone, made by Cloudflare.</p></li>
      <li><a class="link-profile bold" href="https://www.cloudflare.com/">Cloudflare</a><p>I've started transferring my domains to Cloudflare's domain registrar. They don't add mark-up on renewal prices so it often costs ~70% less of than what i'd pay elsewhere to renew my domain names.</p></li>
      <li><a class="link-profile bold" href="https://www.netlify.com/">Netlify</a><p>I use netlify to host all of my static websites at the moment. It's wonderfully simple to use and the continuous deployment is a great feature. Whenever my GitHub repo updates, Netlify automatically re-deploys the site with the new changes.</p></li>
    </ul>
  </section>

  <section class="mt-2 mb-4">
    <p class="f7 bold uppercase ls-wide mb-2">Investing</p>
    <ul class="font-body f6 mt-0 mb-0">
      <li><a class="link-profile bold" href="https://bricklane.com/">Bricklane.com</a><p>Invest in an expertly-chosen UK property portfolio, from as little as £100.</p></li>
      <li><a class="link-profile bold" href="https://freetrade.io/">Freetrade</a><p>Commission-free investing in stocks and ETFs, right from your phone.</p></li>
    </ul>
  </section>

</div>